#menu-h2 ul {
    list-style: none;
    padding: 0;
    background-color: #050505;
    margin: 0;
    position: relative;
}

#menu-h2 ul li {
    display: inline;
}

#menu-h2 ul li a {
    color: #fff;
    padding: 10px;  
    text-decoration: none;
    display: inline-block;
    transition: background .3s;
}

#menu-h2 ul li a:hover {
    background-color: #0105ff
}
